extends layout

block content
  p
    | Time you enjoy wasting is not wasted time.
  p
    | Hello, I like to fly helicopters... Do you?
  p
    | This looks cool: 
    a(href="https://github.com/remy/nodemon") nodemon
    | . "nodemon will watch the files in the directory that nodemon was started, and if they change, it will automatically restart your node application."

block sidebar
  .widget
    h1 Who's online
    #users
  .widget
    h1 chat
    #conversation
    #padding
      textarea(id='data', rows='2')
  .widget
    h1 Users (last hour)
    canvas#smoothiecanvas
